@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

header {
    background-color: #00428F;
    position: absolute;
    width: 100%;
    align-content: center;
}

h1 {
    font-family: 'Londrina Sketch', cursive;
    font-size: 80px;
    color: white;
}

h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    color: white;
}